<div class="center jumbotron">
  <h1>Welcome to Dinnerpal</h1>

  <h2>
    This is the home page for Dinnerpal.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
